%header.header
  .wrap
    .header__title<
      %a{ href: "/#{page_config[:prefix]}/" }<
        = '« ' if current_article # show little back arrow on article permalinks
        KeywordBrain Insights
