---
title: All Articles
description: KeywordBrain Insights Blog
---

.content
  -# the blog is called 'blog', see config.rb
  - blog.articles.each do |article|

    %article.article.article--list{ id: article.id }
      %header
        %h1.article__title<
          %a{ href: article.url }= article.title

      %p.article__summary= article.data.summary

      %footer.article__meta<
        by
        %strong= article.author['name']
        on
        %time{ datetime: article.date.strftime('%Y-%m-%d') }= article.friendly_date
