---
title: All Articles
description: KeywordBrain Insights Blog
---

.content
  - blog('blog').articles.each_with_index do |article|

    %article.article.article--list{ id: article.id }
      %header
        %h1.article__title<
          %a{ href: article.url }= article.title

      %p.article__summary= article.data.summary

      .article__meta
        by
        %strong= article.author['name']
        on
        %time{ datetime: article.date.strftime('%Y-%m-%d') }= friendly_date(article.date)
